<div class="forms">

    <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
        <p *ngIf="isSubmitted && typeForm.controls.name.errors?.required" class="alert alert-danger" role="alert">
            Type name is required
        </p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Type of Instrument:</span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="Type of Instrument" aria-label="name">
        </div>        
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <type-grid></type-grid>
</div>