
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Username:</span>
    </div>
    <input type="text" class="form-control" [formControl]="username" placeholder="Username" aria-label="Username">
</div>
<label>
    Password:
    <input type="password" [formControl]="password">
</label>
<button (click)="login(username)">Login</button>

{{username.value}}