<form [formGroup]="instrumentForm" (ngSubmit)="onSubmit(instrumentForm)">
    <div formGroupName="instrumentInfo">        
        <div formArrayName="instrument">
            <div *ngFor="let color of instrumentForm.controls.instrumentInfo.controls['instrument'].controls; let i = index">
                <div [formGroupName]="i">
                    <input placeholder="Enter Instrument Color" name="color" formControlName="color">
                </div>
                <button mat-raised-button color="primary" type="button"
                    *ngIf="instrumentForm.controls.instrumentInfo.controls['instrument'].length > 1 && i > 0" (click)="removeInstrument(i)">                    
                    Remove Instrument
                </button>
            </div>
        </div>
    </div>
    <button color="accent" type="button" (click)="addInstrument()">Add Instrument</button>
</form>