<form [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm)">
    <div formGroupName="clientInfo">        
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control" name="name" formControlName="name">
            <p class="error" *ngIf="clientForm.controls.clientInfo.controls['name']?.errors?.required">Please enter clients name.</p>
        </div>
    </div>        
   
    <button type="submit" [disabled]="clientForm.invalid">Submit</button>
</form>