<div class="container">
  <header>
    <h1>{{title}}</h1>
  </header>

  <nav id="main-nav">    
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab"  routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" routerLink="/client">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" routerLink="/instrument">Instrument</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" routerLink="/type">Type of Instrument</a>
        </li>
    </ul>    
  </nav>

<router-outlet></router-outlet>
